$border-color: #d0d6db;
$header-color: #f2f5fc;
$black-color: #000;
$white-color: #fff;
$lightgreen-color: #7dbf26;
$darkgreen-color: #58861b;
$lightblue-color: #3070f0;
$darkblue-color: #1054dd;

$dark-color: #27272a;
$theme-color: rgb(32, 171, 70);
$second-color: rgba(0, 191, 255, 0.05);
$darklight-color: rgb(98, 97, 97);