* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    align-items: center;
}

@import "base/variables";
@import "blocks/form";
@import "blocks/lang";
@import "blocks/theme";
@import "blocks/darktheme";