.auth-form {
    &__lang {
        top: 20px;
        right: 20px;
        position: absolute;
        &__btn {
            width: 40px;
            height: 20px;
            position: relative;
            background-color: $white-color;
            border: 1px solid $border-color;
            border-radius: 20px;
            cursor: pointer;
        }
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
        }
    }
}