.high-priority {
    background-color: $high-priority-color !important;
    &_dark {
        background-color: $high-priority-dark-color !important;
    }
}

.medium-priority {
    background-color: $medium-priority-color !important;
    &_dark {
        background-color:$medium-priority-dark-color !important;
    }
}

.low-priority {
    background-color: $low-priority-color !important;
    &_dark {
        background-color: $low-priority-dark-color !important;
    }
}

.completed {
    background-color: $completed-color !important;
    &_dark {
        background-color: $completed-dark-color !important;
    }
}